<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strawberrypi!</title>
</head>
<body>
<h1><i> Welcome to the raspberry page!</i></h1>
    <form method="POST" action ="">
	<button type="submit" formaction="" name="button" value="1">Avancer les moteurs</button>
	<button type="submit" formaction="" name="button" value="2">Arrêter les moteurs</button>
  </form>

<form method="POST">
  <div class="rangeslider">
	<input type="range" min="-127" max="127" value="0" class="slider" id="sliderRange">
  </div>
</form>

<form action="/test_calibrage" method="POST">
    <label for="text">Moteur principal:</label>
    <input type="text" id="text" name="text" required><br><br>
    <label for="num2">Ratio:</label>
    <input type="number" id="num2" name="num2" required><br><br>
    <button type="submit">Test avance corigée</button>
</form>

<span id="time"></span>

<img
  src="image.jpg"
  alt="Ici doit se trouver l'image capturée par la caméra" />




<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>

<script type="text/javascript">
function updater() {
  $.get('/update', function(data) {
    $('#time').html(data);  // update page with new data
  });
};

setInterval(updater, 1000);  // run `updater()` every 1000ms (1s)
</script>

<script> 
    const Http = new XMLHttpRequest();
    var rangeslider = document.getElementById("sliderRange"); 
    var current;
		
    rangeslider.oninput = function() {
	current = this.value;
	
	Http.open('POST', 'slider', true);
	Http.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
	Http.send("valeur=" + current)
    }
</script>
</form>
</body>
</html>
