<!DOCTYPE html>
<html lang="en">


<div style="width: 100%;">
	<div style="width: 50%; height: 100px; float: left;"> 

		<head>
			<meta charset="UTF-8">
			<title>Strawberrypi!</title>
			<link rel="stylesheet" href="css.css"/>
		</head>
		<body class="rose">
			<header class="rose">
				<h1><i> Welcome to the strawberrypi webpage!</i></h1>
				</header>

		<div id="rose" class="resume">

		<form action="/toggle-image-view" method="POST">
			<button type="submit">Arrêter / Continuer flux image</button>
		</form><br/>

		<form action="/init_position" method="POST">
			<label for="x">Case initial (colonne) :</label>
			<input type="text" id="x" step="any" name="x" required>
			<br/>
			<label for="y">Case initial (ligne) :</label>
			<input type="text" id="y" step="any" name="y" required>
			<br/>
			<label for="orientation">Orientation initiale (angle) :</label>
			<input type="text" id="orientation" step="any" name="orientation" required>
			<br/>
			<button type="submit">Envoyer position initiale</button>
			<br/>
		</form> <br/>
		
		<form action="/go_to" method="POST">
			<label for="x">Case destination (colonne) :</label>
			<input type="text" id="x" step="any" name="x" required>
			<br/>
			<label for="y">Case destination (ligne) :</label>
			<input type="text" id="y" step="any" name="y" required>
			<br/>
			<button type="submit">Envoyer position</button>
		</form><br/>

	

		<form action="/change-speed" method="POST">
			<label for="speed">Vitesse (entière): </label>
			<input type="number" id="speed" name="speed" required><br>
			<button type="submit">Change vitesse</button>
		</form>
	
	</div>

		<form action="/avance-test" method="POST">
			<button type="submit">Test avance</button>
		</form>

		<form action="/master_control" method="POST">
			<button type="submit">Control par server</button>
		</form>

		<form action="/reperage-rotation" method="POST">
			<button type="submit">Reperage rotation</button>
		</form>

		<form action="/test-aller-drap" method="POST">
			<button type="submit">Test aller drap</button>
		</form>

		<form action="/test-ultime" method="POST">
			<button type="submit">Test ultime</button>
		</form>

		

		<span id="time"></span>

	</div>

	<div style="margin-left: 50%; height: 100px"> 
		<img
		  id = "image_camera"
		  src="{{url_for('static', filename='image.png')}}"
		  alt="Ici doit se trouver l'image capturée par la caméra" 
		  onclick="this.setAttribute('src', '{{url_for('static', filename='image.png')}}?nocache=' + Math.random());"/>
	</div>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>

<script> // Live control for robot
	// Key press event
	document.addEventListener('keydown', function(event) {
		if (event.key === "ArrowUp") {
			// Send a POST request to the Flask server to trigger the forward press function
			fetch('/forward-press', {
				method: 'POST',
			});
		}
		else if (event.key === "ArrowDown") {
			// Send a POST request to the Flask server to trigger the downward press function
			fetch('/downward-press', {
				method: 'POST',
			});
		}
		if (event.key === "ArrowLeft") {
			// Send a POST request to the Flask server to trigger the left press function
			fetch('/left-press', {
				method: 'POST',
			});
		}
		if (event.key === "ArrowRight") {
			// Send a POST request to the Flask server to trigger the right press function
			fetch('/right-press', {
				method: 'POST',
			});
		}
	});

	// Key release event
	document.addEventListener('keyup', function(event) {
		if (event.key === "ArrowUp") {
			// Send a POST request to the Flask server to trigger the forward release function
			fetch('/forward-release', {
				method: 'POST',
			});
		}
		else if (event.key === "ArrowDown") {
			// Send a POST request to the Flask server to trigger the downward release function
			fetch('/downward-release', {
				method: 'POST',
			});
		}
		if (event.key === "ArrowLeft") {
			// Send a POST request to the Flask server to trigger the left release function
			fetch('/left-release', {
				method: 'POST',
			});
		}
		if (event.key === "ArrowRight") {
			// Send a POST request to the Flask server to trigger the right release function
			fetch('/right-release', {
				method: 'POST',
			});
		}
        });
</script>

<script type="text/javascript">
	function updater() {
		$.get('/update', function(data) {
			$('#time').html(data);  // update page with new data
			document.getElementById('image_camera').setAttribute('src', '{{url_for('static', filename='image.png')}}?nocache=' + Math.random());
		});
	};

	setInterval(updater, 1000);  // run `updater()` every 1000ms (1s)
</script>

</body>
</html>
